<div id="grid-article">
    <table id="table-article" class="" style="height:200px;width:200px">
    </table>
    <div id="pg-article" style="text-align: right"></div>
</div>
<div id="article-remove"></div>
<div id="article-remove-confirm"></div>
<script>
    ManagerArticleData = {
        paginationBar: $('#pg-article').mmPaginator({'limitList': [10]}),
        articleTable: null,
        selectItem:null
    };
    ManagerArticleUtil = {
        init: function () {
            ManagerArticleUtil.initArticleTable();
        },
        deleteConfirmFunc:function(){
            $('#article-remove-modal').modal('hide');
            $.ajax({
                type: 'POST',
                url: 'admin/articleDelete',
                data: {'id':ManagerArticleData.selectItem.id},
                success: function (data) {
                    if(data.CODE == '1'){
                        createConfirmDialog('article-remove-confirm','确认框','删除成功');
                        ManagerArticleData.articleTable.load();
                    }else{
                        createConfirmDialog('article-remove-confirm','确认框','删除失败');
                    }
                },
                error: function () {
                    alert('failed');
                }
            });
        },
        editArticleFunc:function () {
            $.ajax({
                type: 'GET',
                url: 'admin/postArticle',
                data: {'id':ManagerArticleData.selectItem.id},
                success: function (page) {
                    $('.blog-content').html(page);
                },
                error: function () {
                    $('.blog-content').html('<div>网络错误</div>');
                }
            });
        },
        initArticleTable: function () {
            var cols = [
                {title: '文章号', name: 'id', width: 200, sortable: false, aligin:'center'},
                {title: '文章标题', name: 'title', width: 200, sortable: true, aligin: 'left'},
                {title: '创建时间', name: 'createDate', width: 200, sortable: true, aligin: 'left'},
                {title: '操作',name: 'operator',width: 200,sortable: false,aligin: 'center',renderer: function (val, item, rowIndex) {
                        var modifyObj = '<a class="" href="#" title="修改"><span class="glyphicon glyphicon-pencil" style="font-size: 12px; color: #777; padding-right: 10px;"></span></a>';
                        var deleteObj = '<a class="" href="#" title="删除"><span class="glyphicon glyphicon-remove" style="font-size: 12px; color: #777; padding-right: 10px;"></span></a>';
                        return modifyObj + deleteObj;
                    }
                }
            ];
            ManagerArticleData.articleTable = $('#table-article').mmGrid({
                height:'auto',
                cols:cols,
                url:'admin/articleList',
                method:'get',
                plugins: [ManagerArticleData.paginationBar]
            });
            ManagerArticleData.articleTable.on('cellSelected',function(e,item,rowIndex,colIndex){
                ManagerArticleData.selectItem = item;
                if($(e.target).is('.glyphicon-pencil')){
                    ManagerArticleUtil.editArticleFunc();
                }else if($(e.target).is('.glyphicon-remove')){
                    createConfirmAndCancleDialog('article-remove','确认框','确定要删除吗',"ManagerArticleUtil.deleteConfirmFunc()");
                }
            });
        }

    };
    $(function () {
        ManagerArticleUtil.init();
    })

</script>