<div id="author-data" style="width: 600px;height: 400px;">

</div>
<script>
    JianshuAuthorViewData={
        authorDataChart:echarts.init($('#author-data')[0]),
        option:null
    }
    JianshuAuthorViewUtil={
        init:function () {
            JianshuAuthorViewUtil.authorDataInit()
        },
        authorDataInit:function () {
            $.ajax({
                type:'POST',
                url:'admin/jianshu/author/radar.json',
                data:{
                    'id':JianshuData.selectItem.id
                },
                success:function (json) {
                    JianshuAuthorViewData.option= {
                        title: {
                            text: json['title']
                        },
                        tooltip: {},
                        legend: {
                            data: json['legend_data']
                        },
                        radar: {
                            // shape: 'circle',
                            indicator: [
                                { name: '关注（subscriptions）', max: 500},
                                { name: '粉丝（followers）', max: 3000},
                                { name: '文章（posts）', max: 200},
                                { name: '字数（words）', max: 100000},
                                { name: '收获喜欢（gain_love）', max: 2000}
                            ]
                        },
                        series: [{
                            name: '',
                            type: 'radar',
                            // areaStyle: {normal: {}},
                            data : json['series_data']
                        }]
                    };
                    JianshuAuthorViewData.authorDataChart.setOption(JianshuAuthorViewData.option)
                },
                error:function () {

                }
            })

        }
    }

    $(function () {
        JianshuAuthorViewUtil.init()
    })
</script>